<!-- Page Content -->
<div class="content-section-a events-content">

  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h3 class="events-section-header text-muted">Upcoming Events</h3>
          <!--<section class="card">
            <div class="card-padded">
                <h2>The O Patio Fundraiser</h2>
                <h4>Friday, 09&middot11 from 9-12pm</h4>
                <h4>The O Patio &amp Pub</h4>
            </div>
            <div class="stadium-container">
              <%= image_tag "events/opatio.jpg", id: "img-2013game", class:"img-responsive" %>
            </div>
              <div class="card-padded">
                <div class="event-options">
                  <div class="event-option"><a href="https://www.facebook.com/events/478708432302419/">View on Facebook</a></div>
                </div>
              </div>
          </section> -->

          <!--<section class="card">
            <div class="card-padded">
                <h2>Oldfield's Fundraiser</h2>
                <h4>Thursday, 09&middot17 from 5-9pm</h4>
                <h4>Oldfield's North Fourth Tavern</h4>
            </div>
            <div class="stadium-container">
              <%= image_tag "events/oldfields.png", id: "img-2013game", class:"img-responsive" %>
            </div>
              <div class="card-padded">
                <div class="event-options">
                  <div class="event-option"><a href="https://www.facebook.com/events/804843902962539/">View on Facebook</a></div>
                </div>
              </div>
          </section>-->

          <!-- <section class="card">
            <div class="card-padded">
                <h2>Shirt Sorting</h2>
                <h4>Sunday, 10&middot4 at 5:00pm</h4>
                <h4>Hitchcock 131</h4>
            </div>
            <div class="stadium-container">
              <%= image_tag "events/member.jpg", id: "img-2013game", class:"img-responsive" %>
            </div>
          </section> -->
          <section class="card">
            <div class="card-padded">
                <h2>Selling Shirts</h2>
                <h4>Monday 10&middot5 through Friday 10&middot9 from 8:30 - 5:00pm</h4>
                <h4>The Oval</h4>
            </div>
            <div class="stadium-container">
              <%= image_tag "events/sales-map.jpg", id: "img-2013game", class:"img-responsive" %>
            </div>
          </section>
          <section class="card">
            <div class="card-padded">
                <h1>The 2015 Pink Out at Ohio State game</h1>
                <h3>10&middot10&middot15 vs. Maryland</h3>
            </div>
            <div class="stadium-container">
                    <%# inline_svg("icons/stadium.svg", id: "stadium") %>
              <%= image_tag "2013-game.jpg", id: "img-2013game", class:"img-responsive" %>
            </div>
              <div class="card-padded">
                <div class="event-options">
                  <div class="col-xs-4 event-option"><a href="https://www.facebook.com/PinkOutAtOhioState">View on Facebook</a></div>
                  <div class="col-xs-4 event-option"><a href="https://squareup.com/market/pink-out-at-ohio-state">Buy Shirts</div>
                  <div class="col-xs-4 event-option"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=QPVGQKHNXWQAE">Donate</a></div>
                </div>
              </div>
          </section>
          <!--<section class="card">
            <div class="card-padded">
                <h2>Blaze Fundraiser</h2>
                <h4>Wednesday, 09&middot23 from 5-8pm</h4>
                <h4>Blaze Pizza</h4>
            </div>
            <div class="stadium-container">
              <%= image_tag "events/blaze.jpg", id: "img-2013game", class:"img-responsive" %>
            </div>
            <div class="card-padded">
              <div class="event-options">
                <div class="event-option"><a href="https://www.facebook.com/events/1659388481011609/">View on Facebook</a></div>
              </div>
            </div>
          </section>-->
        </div>
      </div>
  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->
