<!-- Header -->
<a name="about"></a>
<div class="intro-header">
  <div class="header-background"></div>
  <div class="container">

      <div class="row">
          <div class="col-lg-12">
              <div class="intro-message">
                  <h1 class="fadein">Pink Out<br>at Ohio State</h1>
              </div>
          </div>
      </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->
<div class="content-section-a content-pinkout-event">

  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <section class="card">
            <div class="card-padded">
                <h1>The 2015 Pink Out at Ohio State game</h1>
                <h3>10&middot10&middot15 vs. Maryland</h3>
            </div>
            <div class="stadium-container">
                    <%# inline_svg("icons/stadium.svg", id: "stadium") %>
              <%= image_tag "2013-game.jpg", id: "img-2013game", class:"img-responsive" %>
            </div>
              <div class="card-padded">
                <div class="event-options">
                  <div class="col-xs-4 event-option"><a href="https://www.facebook.com/PinkOutAtOhioState">View on Facebook</a></div>
                  <div class="col-xs-4 event-option"><a href="https://squareup.com/market/pink-out-at-ohio-state">Buy Shirts</div>
                  <div class="col-xs-4 event-option"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=QPVGQKHNXWQAE">Donate</a></div>
                </div>
              </div>
          </section>
          <br>
          <a href='https://mkt.com/pink-out-at-ohio-state' class='sq-embed-menu' data-menu-item-images='small' data-menu-accent-color='ea80b0' data-menu-template='column' data-menu-border='show' data-menu-item-descriptions='show' >Order Online</a>
          <script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>
      </div>
      </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

  <div class="container">

      <div class="row gallery-row">
        <div class="col-md-6 col">
          <div id="pink-fans" class="gal-img"></div>
        </div>
        <div class="col-md-6 col">
          <div id="with-fan" class="gal-img"></div>
        </div>
      </div>
      <div class="row gallery-row">
        <div class="col-md-6 col">
          <div id="block-o-ribbon" class="gal-img"></div>
        </div>
        <div class="col-md-6 col">
          <div id="cameron" class="gal-img"></div>
        </div>
      </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->


<div class="content-section-d">

  <div class="container">
      <div class="row info-row">
        <div class="col-md-4 col">
          <div id="" class="info-thumb thumbnail">
          <%= image_tag "one-eight.png", id: "one-eight", class:"info-img img-responsive", alt: "group" %>
          <div class="caption">
            <h3>One in eight women will be affected</h3>
          </div>
          </div>
        </div>
        <div class="col-md-4 col">
          <div class="info-thumb thumbnail">
            <div id="two-svg" class="info-img">
              <svg>
                <text id="second" x="50%" y="60%">
                  <tspan id="two">2</tspan>
                  <tspan id="nd">nd</tspan>
                </text>
              </svg>
            </div>
            <div class="caption">
              <h3>Second most harmful cancer in women</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col">
          <div id="" class="info-thumb thumbnail">
            <%= image_tag "blue-ribbon.png", id: "blue-ribbon", class:"info-img img-responsive", alt: "group" %>
            <div class="caption">
              <h3>Men are often diagnosed at later stages</h3>
            </div>
          </div>
        </div>
      </div>

  </div>
  <!-- /.container -->

</div>

<div id="contact" class="content-section-c">

  <div class="container">
      <div class="row">
          <div class="col-lg-5 col-sm-6">
              <h3>Connect</h3>
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <div id="connect-icons">
                <a href="https://www.facebook.com/PinkOutAtOhioState">
                  <%= inline_svg('icons/facebook.svg', class: "connect-icon")%>
                </a>
                <a href="https://twitter.com/PinkOutOSU">
                  <%= inline_svg('icons/twitter.svg', class: "connect-icon")%>
                </a>
                <a href="https://instagram.com/pinkoutosu/">
                  <%= inline_svg('icons/instagram.svg', class: "connect-icon")%>
                </a>
                <a href="mailto:pinkoutatosu@gmail.com">
                  <%= inline_svg('icons/mail.svg', class: "connect-icon")%>
                </a>
              </div>
              <p id="mail-list-lead" class="lead">Get involved. Join the mailing list.</p>
              <!-- Begin MailChimp Signup Form -->
              <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
              <div id="mc_embed_signup">
              <form action="//pinkoutosu.us10.list-manage.com/subscribe/post?u=209a5b69acf2f7bae348069bf&amp;id=8bd9843534" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">

              <div class="mc-field-group">
              	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
              	<div id="mce-responses" class="clear">
              		<div class="response" id="mce-error-response" style="display:none"></div>
              		<div class="response" id="mce-success-response" style="display:none"></div>
              	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_209a5b69acf2f7bae348069bf_8bd9843534" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                  </div>
              </form>
              </div>
              </script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
              <!--End mc_embed_signup-->
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
              <h3>Sponsor</h3>
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <p class="lead">We're looking for partners who want to make a positive impact in the breast cancer community.<br></p>
              <span class="lead">Contact us at pinkoutatosu@gmail.com,</span><br>
              <span class="lead">or make a donation.</span><br><br>
                <input type="button" value="Donate" onclick="location.href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=QPVGQKHNXWQAE';" name="donate" id="donate-button">
          </div>
      </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<!-- jQuery
<script src="js/jquery.js"></script>-->

<!-- Bootstrap Core JavaScript -->
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
